.paste-summary {
  -webkit-line-clamp: 5;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.main {
  margin: 20px;
}

.single-paste {
  border: 0.5px black solid;
}
.btn {
  margin: 5px 5px;
}
.form-control {
  margin: 5px 0px;
}
.btn-outline-secondary {
  border: 0px solid black;
}
.error {
  color: rgb(230, 39, 39);
}
